# Create a .env file based off of his example.

# Local PostgreSQL connection info. Set these when running locally.

# LOCAL_HOST=<host-name>
# LOCAL_DATABASE=<database-name>
# LOCAL_USERNAME=<db-username>
# LOCAL_PASSWORD=<db-password>

# To use a remote connection locally, set the following and uncomment AZURE_* variables.
# USE_REMOTE_POSTGRESQL=1

# Remote PostgreSQL connection info
# AZURE_POSTGRESQL_HOST=<host-name>.postgres.database.azure.com
# AZURE_POSTGRESQL_DATABASE=<database-name>
# AZURE_POSTGRESQL_USERNAME=<db-username>
# AZURE_POSTGRESQL_PASSWORD=<db-password>

# Set this only when running in Azure Container Apps environment
# RUNNING_IN_PRODUCTION=1

# Locally set this to a random string
# LOCAL_SECRET_KEY=123abc

# Production secret key
# Create value with the following command:
# python -c 'import secrets; print(secrets.token_hex())'
# AZURE_SECRET_KEY=<secret key>